/* General Styles */

html {
    scroll-behavior: smooth; /* Enable smooth scrolling behavior */
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #fff;
    padding: 20px 0;
    transition: height 0.3s ease;
    z-index: 1000;
}

header img {
    width: 180px;
    height: auto;
}

.header-container {
    display: flex;
    justify-content: space-between; 
    align-items: center;
}

.logo-container {
    display: block;
    margin-right: auto; /* Push the logo to the left */
}

nav {    
    margin-top: 20px; 
    margin-left: auto;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
}

.btn {
    display: inline-block;
    padding: 5px 10px; 
    color: #000000;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease; 
    font-size: 16px;
    font-weight: bold;
    border: 3px solid transparent;
}

.btn:hover {
    border-color: #000000; 
}

.hero {
    background-image: url('media/heroBG.jpg');
    background-size: cover;
    background-position: center;
    color: #fff;
    text-align: left;
    margin-left: 0px;
    padding: 200px 0;
}

.hero h1 {
    font-size: 36px;
    margin-left: 50px;
    color: #47443e;
}

.hero h2 {
    font-size: 30px;
    margin-left: 50px;
    color: #47443e;
}

.hero a {
    display: inline-block;
    padding: 5px 10px; 
    color: #47443e;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    font-size: 25px;
    font-weight: bold;
    margin-left: 52px;
    border: 3px solid #47443e;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.contact {
    background-color: #ffffff;
    color: #fff;
    text-align: center;
    padding: 25px 0;
}

.contact h2 {
    color: #000000; /* Text color */
    font-size: 24px; /* Font size */
    font-weight: bold; /* Font weight */
    margin-bottom: 20px; /* Bottom margin */
}

.contact a {
    color: #fff;
    text-decoration: none;
    background-color: #ff7f0e;
    padding: 5px 10px;
    border-radius: 12px;
    transition: background-color 0.3s ease;
}

.contact a:hover {
    background-color: #ff7f0e;
}

.contact p {
    color: #a1a0a0; 
}

.contact-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contact .contact-details {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact .phone-number,
.contact .instagram {
    display: flex;
    align-items: center;
    margin-bottom: 20px; 
}

.contact .phone-number a {
    margin-right: 50px; 
}

.contact .instagram a {
    margin-left: 0px; 
}

.call-now-btn {
    margin-left: auto;
}

p {
    color: #666;
}

.gallery {
    overflow: hidden; /* Ensure images do not extend beyond the curved border */
}

.grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 0 20px; /* Adjust as needed */
}

.item {
    width: calc(33.33% - 40px); /* Adjust the width and spacing as needed */
    margin: 20px; /* Adjust the spacing between images */
    border-radius: 10px; /* Applies a rounded border-radius for rectangular shape */
    overflow: hidden; /* Ensure images do not extend beyond the curved border */
}

.item img {
    width: 100%;
    height: auto;
    border-radius: 20px; /* Ensures images inherit the border-radius */
    object-fit: cover; /* Maintain aspect ratio while covering the container */
}

footer {
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    padding: 1px 0;
}

.container {
    width: 98%;
    margin: 0 auto;
}